In [3]:
#define the function say hello so that it prints hello when called
def say_hello():
    print('hello')

In [5]:
# call the function
say_hello()

hello

In [7]:
# define say_something variable so that it prints something

def say_something(something):
    print(something)

In [9]:
say_something('Hello World!')

Hello World!

In [10]:
jane_says = "Hello, my name is Jane Kane and I am learning Python!"
say_something(jane_says)

Hello, my name is Jane Kane and I am learning Python!

In [18]:
passing_math_count = 29370
total_student_count = 39170

In [20]:
# call the function
def passing_math(passing_math_count, total_student_count):
    return passing_math_count / float(total_student_count) * 100

In [21]:
passing_math(passing_math_count, total_student_count)

74.9808526933878

In [23]:
# map function example
# a list of my grades
my_grades =['B', 'C', 'B', 'D']

In [24]:
import pandas as pd

In [25]:
#convert the my_grades to a series

my_grades_ser = pd.Series(my_grades)
my_grades_ser

0    B
1    C
2    B
3    D
dtype: object

In [29]:
#grades using mapping and changing the grades in a series. you are changing all values with the assigned string
my_grades_ser.map({"B":"A", "C":"B", "D":"C"})

0    A
1    B
2    A
3    C
dtype: object

In [32]:
# using the format() function.
mygrades = [92.34, 84.56, 86.78, 98.32]

for grade in mygrades:
    print("{:.0f}".format(grade))

92
85
87
98

In [33]:
mygrades = pd.Series([92.34, 84.56, 86.78, 78.32])

mygrades

0    92.34
1    84.56
2    86.78
3    78.32
dtype: float64

In [34]:
mygrades.map("{:.0f}".format)

0    92
1    85
2    87
3    78
dtype: object